body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.master {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
    color: white;
    font-size: 300%;
    font-weight: bold;
    font-family: sans-serif;
}
.form {
    display: flex;
    justify-content: center;
    transform: scale(1.4);
    width: 70%;
}
.input {
    width: 30%;
    height: 20%;
}
ul {
    transform: scale(1.4);
    padding: 0;
}
li {
    list-style-type: none;
    background-color: white;
    width: 25rem;
    text-align: start;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
    opacity: 1;
}
.l2 {
    background-color: #e5e5e5;
}

.check {
    opacity: 0.7;
    text-decoration-line: line-through;
    margin-left: 10px;
}
.uncheck {
    opacity: 1;
    padding-left: 2%;
}
