body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.master {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    color: white;
    font-size: 250%;
    font-weight: bold;
    font-family: sans-serif;
}
.input {
    width: 85%;
    text-align: center;
}
.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.completed{

}
.unCompleted{
    opacity: 0.6;
    text-decoration-line: line-through;
}
.input-form {
    width: 70%;
    padding: 3% 0;
}
.list-form {
    margin: 0 -13px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 0;
    transform: scale(1.2);
    
}


li {
    background-color: white;
    list-style-type: none;
    width: 11rem;
    font-family: sans-serif;
    text-align: center;
}

@media (min-width: 992px) {
    .master {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .title {
        color: white;
        font-size: 400%;
        font-weight: bold;
        font-family: sans-serif;
    }
    .input-form {
        display: flex;
        justify-content: center;

        width: 65%;
        padding: 3% 0;
    }
    .input {
        height: 2rem;
        width: 50rem;
        font-size: 35px;
        text-align: center;
        
    }
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        font-size: 130%;
    }
    select {
        font-size: 130%;
    }
    li {
        text-align: center;
        font-size: 24px;
        width: 22rem;
    }
}

/* .form {
    display: flex;
    justify-content: center;
    transform: scale(1.4);
    width: 70%;
}
.input {
    width: 30%;
    height: 20%;
}
ul {
    transform: scale(1.4);
    padding: 0;
}
li {
    list-style-type: none;
    background-color: white;
    width: 25rem;
    text-align: start;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
    opacity: 1;
}
.l2 {
    background-color: #e5e5e5;
}

.check {
    opacity: 0.7;
    text-decoration-line: line-through;
    margin-left: 10px;
}
.uncheck {
    opacity: 1;
    padding-left: 2%;
} */
